<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>USING Plain html in pug</title>
</head>
<body>
    <h1>this is PUBG it is pubg but it is not playelunknown battelgrounds</h1>
</body>
</html>