<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Pug</title> -->
    <title>#{title}</title>
    style
        include ../static/style.css
</head>
<body>
    | thisis the the pipe
    <h1>Using Pug Not pubG!</h1>
    <form action="/" method="POST">
        <input type="text" name="name" placeholder="name">
        <input type="email" name="email" id="email" placeholder="email">
        <button class="btn">submit</button>
    </form> 
</body>
</html>